<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Videe Flow</title>
<link href="style.css" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>



</head>
 
<body id="top">


<!--HEADER-->
<div id="header_b">
<div id="header">

<div class="box1_header"><a href="#" class="log_inn">LOG IN</a><a href="#" class="log_inn">JOIN</a></div>

<div class="box2_header">
<div class="box2_header1"><a href="#"><img src="../images/logo.jpg" alt="" /></a></div>
<div class="menu">
     <ul class="nav">
     <li><a href="index.html" class="nav">COMPETITIONS</a>
     <ul class="sub">
       <li><a href="#">CURRENT</a></li>
       <li><a href="#">RECENT</a></li>
       <li><a href="#">UPCOMING</a></li>
     </ul>
     </li>
     <li><a href="#" class="nav">HOW IT WORKS</a></li>
     <li><a href="#" class="nav">HOME</a></li>
     </ul>
</div>

<div class="box2_header2"><input type="text" class="search" onclick="this.value = '';" value="Search Competitions"/><input name="" type="button" class="b_search" /></div>


</div>

</div>
</div>







<!--CONTAINER-->
<div id="container_b">
<div id="container">
<div id="center">

<div class="box1_home">Current Competitions</div>

<div class="box2_home">

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>


</div>



<div class="box1_home">Upcoming Competitions</div>

<div class="box2_home">

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>

<div class="box2_home0">
<div class="box2_home1">
<div class="box2_h1_a">
<div class="box2_h1_a1">Comedy</div>
<div class="box2_h1_a2">This is the Title of this Video</div>
<div class="box2_h1_a3"> </div>
<div class="box2_h1_a4">This is the description for this competition. This competition is currently ongoing and will end soon.</div>
<div class="box2_h1_a5">
<div class="box2_h1_a5_a">1/30/13 <br /><span class="box2_h1_a6">ENDS</span></div>
<div class="box2_h1_a5_b">13,012<br /><span class="box2_h1_a6"># PARTICIPANTS</span></div>
</div>
</div>
</div>
<div class="box2_home3">JOIN COMPETITION</div>
</div>


</div>





<div class="box1_home">Recent Winners </div>


<div class="box3_home">
<div class="box3_home1"><img src="../images/arrow.jpg" width="54" height="55" alt="" /></div>

<div class="box3_home2">
<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>

<div class="box3_h2_a">
<div class="box3_h2_a1">Comedy</div>
<div class="box3_h2_a2">This is the Competition Title</div>
<div class="box3_h2_a3"><img src="../images/image05.jpg" width="181" height="91" alt="" /></div>
<div class="box3_h2_a4">This is the Video Title</div>
<div class="box3_h2_a5">1,301 votes</div>
</div>
</div>

<div class="box3_home1"><img src="../images/arrow2.jpg" width="54" height="55" alt="" /></div>
</div>









</div>
</div>
</div>





<!--BOTTOM-->
<div id="bottom">
<div id="bottom_cont">

<div class="box1_foot">VIEW BY CATEGORY</div>



<div class="box2_foot">
<ul class="navp">
         <li><a href="#" class="nav">Comedy</a></li>
         <li><a href="#" class="nav">Filmmaking</a></li>
         <li><a href="#" class="nav">Acting</a></li>
         <li><a href="#" class="nav">Food</a></li>
         <li><a href="#" class="nav">Fashion</a></li>
         <li><a href="#" class="nav">Music</a></li>
         <li><a href="#" class="nav">Writing</a></li>
         </ul>
</div>


<div class="box3_foot">
<div class="box3_foot1">COPYRIGHT © 2013  -  VIDEEFLOW. ALL RIGHTS RESERVED. </div>
<div class="box3_foot2">
<a href="#"><img src="../images/fb.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/go.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/tw.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/yt.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/vi.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
</div>
</div>



</div>
</div>










</body>
</html>