<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Videe Flow</title>
<link href="style.css" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>



</head>
 
<body id="top">


<!--HEADER-->
<div id="header_b">
<div id="header">

<div class="box1_header"><a href="#" class="log_inn">LOG IN</a><a href="#" class="log_inn">JOIN</a></div>

<div class="box2_header">
<div class="box2_header1"><a href="#"><img src="../images/logo.jpg" alt="" /></a></div>
<div class="menu">
     <ul class="nav">
     <li><a href="index.html" class="nav">COMPETITIONS</a>
     <ul class="sub">
       <li><a href="#">CURRENT</a></li>
       <li><a href="#">RECENT</a></li>
       <li><a href="#">UPCOMING</a></li>
     </ul>
     </li>
     <li><a href="#" class="nav">HOW IT WORKS</a></li>
     <li><a href="#" class="nav">HOME</a></li>
     </ul>
</div>

<div class="box2_header2"><input type="text" class="search" onclick="this.value = '';" value="Search Competitions"/><input name="" type="button" class="b_search" /></div>


</div>

</div>
</div>







<!--CONTAINER-->
<div id="container_b">
<div id="container">
<div id="center">

<div class="box1_inn_bis">Join Competition</div>
<div class="box2_inn">Comedy</div>
<div class="box3_inn">This is the Title of This Competition</div>
<div class="box4_inn">by Jason Halpern  |  941 votes</div>

<div class="box5_inn">

<div class="box5_inn0">
<div class="box5_inn1">
<div class="box5_i1_a">
<div class="box5_i1_a3"> </div>
<div class="box5_i1_a4">This is the description for the competition. This is the most intense competition yet and it starts this week.</div>
<div class="box5_i1_a5">
<div class="box5_i1_a5_a">January 2nd 2013<br /><span class="box2_h1_a6">Starts</span></div>
<div class="box5_i1_a5_b">January 5th 2013<br /><span class="box2_h1_a6">End</span></div>
</div>
</div>
</div>
</div>


</div>




<div class="box6_inn">
<form action="#" method="post">
<span class="box6_inn1">Video Title</span><input name="name" type="text" class="box6_inn2" id="name" size="200" />
<span class="box6_inn1">Description</span><span class="box6_inn3"><textarea name="email" cols="200" class="box6_inn4" id="email"></textarea></span>
<span class="box6_inn1">Upload Video</span><span class="box6_inn5"><select name="" class="box6_inn6"></select></span><span class="box6_inn7">accepted files format:<br />
AVI, MPEG, MOV, FLV, .264,  .3gp, MKV<br />.swf, OTHERS...</span>
<input type="submit" class="join" value="JOIN" />
</form>
</div>




</div>
</div>
</div>





<!--BOTTOM-->
<div id="bottom">
<div id="bottom_cont">

<div class="box1_foot">VIEW BY CATEGORY</div>



<div class="box2_foot">
<ul class="navp">
         <li><a href="#" class="nav">Comedy</a></li>
         <li><a href="#" class="nav">Filmmaking</a></li>
         <li><a href="#" class="nav">Acting</a></li>
         <li><a href="#" class="nav">Food</a></li>
         <li><a href="#" class="nav">Fashion</a></li>
         <li><a href="#" class="nav">Music</a></li>
         <li><a href="#" class="nav">Writing</a></li>
         </ul>
</div>


<div class="box3_foot">
<div class="box3_foot1">COPYRIGHT © 2013  -  VIDEEFLOW. ALL RIGHTS RESERVED. </div>
<div class="box3_foot2">
<a href="#"><img src="../images/fb.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/go.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/tw.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/yt.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
<a href="#"><img src="../images/vi.png" width="24" height="25" alt="" style="float:left; margin:0 12px 0 0" /></a>
</div>
</div>



</div>
</div>










</body>
</html>